.reminders-div {
        padding: 16px 4%;
}

.reminders-div .header {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 12px;
}
.reminders-row {
        margin-bottom: 24px;
}

.reminders-div .reminder-card .card {
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #E7E7E7;
}

.reminders-div .reminder-card .card .card-title {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
}
.reminders-div .reminder-card .card .card-desc {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 8px;
}
.reminders-div .reminder-card .card .date {
        margin-top: 20px;
        color: #737373;
        font-size: 11px;
        font-weight: 500;
}